@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="navbar">
    <a asp-page="Menu">Menu</a>
    <a asp-page="About">About</a>
    <a asp-page="Privacy">Privacy</a>
</div>






<div id="bannerimage"></div>