/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#bannerimage {
    background-image: url('../../../images/DinoDiner-24.png');
    width: 1000px;
    height: 1000px;
    background-position: center;
}

.navbar {
    overflow: hidden;
    background-color: #fff;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: green;
    text-align: center;
    padding: 14px 16px;
}

.menu-item {
    
}